.Header{
  background-color: var(--dark);
  padding: 20px 30px;
  text-align: left;
  box-shadow:0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.Header h1 {
  margin: 0;
  font-size: 36px;
  color: var(--yellow);
  font-family: "Playfair Display", serif; /* Elegant font */
  font-weight: bold;
  gap: 100px; /* Adds space between "Aurelle" and the quote */
}

.Header h1 i {
  font-size: 26px; /* Slightly smaller for the quote */
  font-family: "Dancing Script", cursive; /* Adds an artistic, stylish feel */
  font-weight: 500;
  color: var(--white);
  letter-spacing: 1px;
}


button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:16px;
  padding: 10px 20px;
}

.yellow-button{
  background-color:var(--yellow);
  color:var(--dark);
}
.black-button{
  background-color:var(--dark);
  color: var(--white);
}

